<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/paypalstyle.css">
    <link rel="icon" type="image/x-icon" href="icons/favicon.ico">
    <title>Successfully completed purchase</title>
</head>
<body>

    <header>
        <a href="index.php" id="logolink"><img src="icons/logo.png" alt="Xstore logotype" id="logo"></a>
    </header>

    <div id="spacer"></div>

    <main>
        <h1>Congratulations!</h1>
        <p>Your purchase was a <span>success!</span></p>
        <p>The total was: TOTAL kr and you payed with PAYMETHOD</p>
        <p>The order will be sent to:</p>
        <ul>
            <li>ADRESS</li>
            <li>CITY</li>
            <li>ZIP COUNTRY</li>
            <li>STATE</li>
        </ul>
        <p>A confirmation email will be sent to: <br>EMAIL</p>
    </main>

    <footer>
        <hr>
        <p>Copyright &copy; XSTORE</p>
    </footer>

</body>
</html>